# https://linkie.shedaniel.dev/mappings?namespace=mojang_srg&version=1.20.4

public net.minecraft.world.level.block.state.BlockBehaviour.Properties.soundType
public-f net.minecraft.world.item.AxeItem STRIPPABLES

public net.minecraft.world.level.block.TransparentBlock

# Adding custom potion recipes
public net.minecraft.world.item.alchemy.PotionBrewing addMix(Lnet/minecraft/world/item/alchemy/Potion;Lnet/minecraft/world/item/Item;Lnet/minecraft/world/item/alchemy/Potion;)V # addMix

public net.minecraft.world.level.levelgen.NoiseBasedChunkGenerator settings
public net.minecraft.world.level.chunk.ChunkGenerator biomeSource
public net.minecraft.world.level.levelgen.NoiseRouterData overworld(Lnet/minecraft/core/HolderGetter;Lnet/minecraft/core/HolderGetter;ZZ)Lnet/minecraft/world/level/levelgen/NoiseRouter; # overworld

# DensityFunctions
public net.minecraft.world.level.levelgen.DensityFunctions$ShiftedNoise
public net.minecraft.world.level.levelgen.RandomState$1NoiseWiringHelper

# Surface rules stuff
public net.minecraft.world.level.levelgen.SurfaceRules$Condition
public net.minecraft.world.level.levelgen.SurfaceRules$Context
public net.minecraft.world.level.levelgen.SurfaceRules$LazyCondition
public net.minecraft.world.level.levelgen.SurfaceRules$Context blockX
public net.minecraft.world.level.levelgen.SurfaceRules$Context blockY
public net.minecraft.world.level.levelgen.SurfaceRules$Context blockZ
public net.minecraft.world.level.levelgen.SurfaceRules$Context lastUpdateXZ
public net.minecraft.world.level.levelgen.SurfaceRules$Context lastUpdateY

# randomizing particles
public net.minecraft.world.entity.Entity random
#public net.minecraft.world.level.levelgen.NoiseBasedChunkGenerator f_64318_ # settings
#public net.minecraft.world.level.chunk.ChunkGenerator f_62137_ # biomeSource

# setting offset of BulbSacks
public net.minecraft.world.level.block.state.BlockBehaviour.BlockStateBase offsetFunction
public net.minecraft.world.level.block.state.BlockBehaviour.Properties offsetFunction

# biome particles
public net.minecraft.client.particle.SuspendedParticle <init>(Lnet/minecraft/client/multiplayer/ClientLevel;Lnet/minecraft/client/particle/SpriteSet;DDDDDD)V # <init>
public net.minecraft.client.particle.Particle setSize(FF)V # setSize

# acidify my world
public-f net.minecraft.world.level.levelgen.NoiseBasedChunkGenerator globalFluidPicker # globalFluidPicker

public-f net.minecraft.world.level.block.grower.TreeGrower

# candeloupe stem
public net.minecraft.world.level.block.CropBlock getGrowthSpeed(Lnet/minecraft/world/level/block/Block;Lnet/minecraft/world/level/BlockGetter;Lnet/minecraft/core/BlockPos;)F # getGrowthSpeed

public net.minecraft.client.renderer.LevelRenderer skyBuffer # skyBuffer

public-f net.minecraft.world.level.biome.Climate$ParameterPoint

# templates
public net.minecraft.world.level.levelgen.structure.templatesystem.StructureTemplate palettes